<%- include("./partials/header.ejs") %>


<div class="container container-userpage">

    <div class="d-flex justify-content-between mb-2">
        <div class="">
            <h2 class="text-light text-center mb-0 ">Your Questions:</h2>
        </div>
        <div class=""><a href="/user/<%= user._id %>/new"><button type="button" class="btn btn-success  action-btn mr-1"><i
                        class="fas fa-plus"></i></button></a></div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Label</th>
                <th scope="col" class="d-none d-sm-none d-md-block">Uploaded on</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <% 
            var count = 1;
            card.forEach(function(x){ 
        %>
        <tbody class="tbody-light">
            <tr>
                <th scope="row"><%= count %></th>
                <td class="pr-0"><a href="<%= x.link %>"><%= x.title %></a></td>
                <td class="pr-0"><%= x.label %></td>
                <td class="pr-0 d-none d-sm-none d-md-block"><%= x.date %></td>
                <td class="pr-2">
                    <div class="d-flex flex-coloumn ">
                        <form action="/delete/<%= user._id %>/<%= x._id %>?_method=DELETE" method="POST">
                            
                            <button type="button" class="btn btn-danger  action-btn mr-1" data-toggle="modal" data-target="#exampleModalCenter" ><i class="fas fa-trash-alt "></i></button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" name="delete" value="DELETE" class="btn btn-danger">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    <a href="/user/<%= user._id %>/ques/<%= x._id %>"><button type="button" class="btn btn-primary action-btn "><i class="fas fa-pencil-alt"></i></button></a>
                    </div>
                </td>
            </tr>
            
        </tbody>
        <% count++; }) %>
    </table>
    <div class="d-flex justify-content-end">
       <h4 class="text-light">Total: <%= count-1 %></h4>
    </div>
</div>



<script>
  
   
</script>

<%- include("./partials/footer.ejs") %>

